
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/assets/media/*
!/public/assets/media/.gitkeep
/var/
/vendor/
**/.DS_Store
###< symfony/framework-bundle ###
