
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/assets/media/*
!/public/assets/media/.gitkeep
/var/
/vendor/
/public/media/
**/.DS_Store
###< symfony/framework-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

