<h1>Conformation e-mail</h1>

<p>
    Merci de confirmer votre e-mail en suivant le lien ci-dessous <br><br>
    <a href="{{ signedUrl }}">Je conforme mon mail</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

