{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class= "pageContent">
    <div class= "registerForm">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <h1>Créer un compte</h1>
        {{ form(registrationForm , {'attr': {'class' : "registerForm--content"}}) }}
    </div>
</div>
{% endblock %}
