.navContent {
    width: 100%;
    background-color: wheat;
}

.navButton {
    border: none;
    background-color: #457B9D;
    border-radius: 0.2rem;
    margin: .2rem;
    padding: 0.5rem;
}

.nav{
    display: flex;
}