// https://coolors.co/palette/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529


// spacing elements
$gutter-big:1.3rem;
$gutter-medium: 1rem;
$gutter-small: .5rem;
$gutter-Xsmall: .2rem;

// backgrounds
$darkBlack: #212529;
$mediumBlack: #343A40;
$lightBlack:#495057;

// fonts
$darkGray: #6C757D;
$mediumGray: #CED4DA;
$lightGray: #E9ECEF;
$lightWhite: #F8F9FA;

//links
$darkBlue:#1d3557;
$mediumBlue:#457B9D;
$lightblue:#a8dadc;